nav {
  position: fixed;
  top: 0px;
  right: 0px;
  display: flex;
  width: 100%;
  padding: 20px;
  align-items: center;
  gap: 20px;
  z-index: 88;
  background-color: var(--main-color);
}
.navbarInAddToCart{
  background-color: var(--fourth-color);
}
nav img {
  width: 120px;
}
nav .menuIcon {
  font-size: 22px;
  font-weight: bolder;
  cursor: pointer;
  display: none;
  color: white;
}
nav .allLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
nav .allLinks .componentLinks ul {
  display: flex;
  padding: 0px;
  margin: 0px;
}
nav .allLinks .componentLinks ul li{
  list-style: none;
}
nav .allLinks .componentLinks ul li a {
  list-style: none;
  display: block;
  padding: 8px 25px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  cursor: pointer;
  font-size: 17px;
  color: white;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  text-decoration: none;
}
nav .allLinks .componentLinks ul li a.active {
  background-color: var(--therd-color);
}
nav .allLinks .componentLinks ul.show {
  position: absolute;
  top: calc(100% + 2px);
  left: 5px;
  display: block;
  width: calc(100% - 10px);
  flex-direction: column;
  background-color: var(--main-color);
  padding: 20px;
  z-index: 99;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
nav .allLinks .link {
  padding: 7px 25px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 17px;
  color: white;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
nav .allLinks .regesterLinks .link:last-child {
  background-color: white;
  color: black;
}
nav .allLinks .link:hover{
  background-color: var( --secend-color);
}
nav .allLinks .userInfo {
  display: flex;
  align-items: center;
  gap: 15px;
}
nav .allLinks .userInfo .link {
padding: 7px 15px;
color: rgb(224, 152, 89);
}
nav .allLinks .userInfo .cartIcon {
  font-size: 33px;
  color: white;
  cursor: pointer;
}
nav .allLinks .userInfo span{
  position: relative;
}
nav .allLinks .userInfo span::before{
  position: absolute;
  content: "5";
  font-size: 14px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: white;
  background-color: var(--therd-color);
  bottom: -8px;
  right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}
nav .allLinks .userInfo .userEmail {
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  font-size: 17px;
  margin: 0px;
  cursor: pointer;
}
nav .allLinks .userInfo .userImg {
  width: 40px;
  height: 40px;
  border-radius:50% ;
  -webkit-border-radius:50% ;
  -moz-border-radius:50% ;
  -ms-border-radius:50% ;
  -o-border-radius:50% ;
  cursor: pointer;
}
@media (max-width: 900px) {
  nav {
    padding: 20px;
  }
  nav .allLinks .componentLinks ul li a,
  nav .allLinks .regesterLinks .link {
    padding: 5px 18px;
  }
  nav .allLinks .userInfo .userEmail{
    display: none;
  }
}
@media (max-width: 750px) {
  nav .menuIcon {
    display: block;
  }
  nav .allLinks .componentLinks ul {
    display: none;
  }
}
@media (max-width: 430px) {
  nav {
    flex-direction: column;
  }
  nav .allLinks {
    width: 100%;
  }
  nav .allLinks .userInfo{
    gap: 10px;
  }
}
